@model Parcelxpress.Models.Route

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Route</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RouteDate" class="control-label"></label>
                <input asp-for="RouteDate" class="form-control" />
                <span asp-validation-for="RouteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverID" class="control-label">Driver ID</label>
                <select asp-for="DriverID" class="form-control" asp-items="ViewBag.DriverID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarID" class="control-label">Car-Regnumber</label>
                <select asp-for="CarID" class="form-control" asp-items="ViewBag.CarID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AreaID" class="control-label">Area-Postnumber</label>
                <select asp-for="AreaID" class="form-control" asp-items="ViewBag.AreaID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
